@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #24252A;
    color: white;
}
.top{
    margin-top: 100px;
}