{% extends 'base.html.twig' %}
{% block title %}
    {{ 'List of models'|trans }}
{% endblock %}
{% block body %}
    <div class="container">
        <div class="container col-4 top">
            {% if models %}
                {% for model in models %}
                    <div class="d-flex flex-column ">
                        <a  class="link" href="">
                            {{ model.name }}
                        </a>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}
